
@{
    ViewBag.Title = "WaitForUpdate";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

@section Header{
    Chức năng đang trong quá trình phát triển.    
}

<h2><a href="@Url.Action("Index","Home")">Quay lại</a></h2>

